* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

.App {
  display: flex;
  justify-content: center;
}

button,
p,
label {
  font-family: "Roboto-Regular", sans-serif;
}

h1 {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

.wrapper {
  padding: 50px;
  margin: 20px;
  display: inline-block;
  border: 2px solid #2B3A55;
  border-radius: 10px;
  text-align: center;
  background-color: #F2E5E5;
}

.searchTerms {
  display: flex;
  flex-direction: column;
}

.unitsSection {
  margin: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.unitsSection label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hideSearch {
  display: none;
}

.wrapper button {
  padding: 5px 20px;
  background-color: #F2E5E5;
  border: 2px solid #2B3A55;
  border-radius: 10px;
  margin: 0 5px 50px 5px;
  color: #2B3A55;
}

.wrapper button:hover {
  background-color: #2B3A55;
  color: #F2E5E5;
}

.wrapper .weatherOverview {
  font-size: 2rem;
}

.wrapper p {
  color: #2B3A55;
  margin: 5px;
}

.cityInput {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #2B3A55;
}